@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes correct {
  22%, 42%, 62% {
    background: goldenrod;
  }
  20%, 40%, 60% {
    background: #002573;
  }
  90%, 100% {
    background: green;
  }
}

.answer.correct {
  animation: correct 4s ease forwards;
}

@keyframes wrong {
  0%, 50% {
    background: #002573;
  }
  70%, 100% {
    background: red;
  }
}

.answer.wrong {
  animation: wrong 5s ease forwards;
}